body{
    background-color: black;
}

h1{
    color: white;
}

div{
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-inline: auto;
}