body{
    background-color: black;
}

h1{
    color: white;
}

div{
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-inline: auto;

    font-size: 22px;
    font-weight: bold;
    transition: width 1s, height 1s;
}